.config
*.o
*.pyc

.DS_Store
.cache/

.vscode/

*.sublime-project
*.sublime-workspace

.idea
cmake-build-*/

*.swp
*.swo

/build/
cmake-*
/sdkconfig.old
/sdkconfig
dependencies.lock
managed_components
venv